
.icon-help:before { content: '\e800'; } /* '' */
.icon-attention-circled:before { content: '\e801'; } /* '' */
.icon-attention:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-bookmark:before { content: '\e804'; } /* '' */
.icon-ok-1:before { content: '\e805'; } /* '' */
.icon-bookmark-1:before { content: '\e806'; } /* '' */
.icon-floppy-1:before { content: '\e807'; } /* '' */
.icon-box-1:before { content: '\e808'; } /* '' */
.icon-search-1:before { content: '\e809'; } /* '' */
.icon-torso-1:before { content: '\e80a'; } /* '' */
.icon-key-1:before { content: '\e80b'; } /* '' */
.icon-right-open-1:before { content: '\e80c'; } /* '' */
.icon-home-outline-1:before { content: '\e80d'; } /* '' */
.icon-mail-1:before { content: '\e80e'; } /* '' */
.icon-truck-1:before { content: '\e80f'; } /* '' */
.icon-calculator-1:before { content: '\e810'; } /* '' */
.icon-basket-1:before { content: '\e811'; } /* '' */
.icon-clipboard-1:before { content: '\e812'; } /* '' */
.icon-credit-card-1:before { content: '\e813'; } /* '' */
.icon-switch-1:before { content: '\e814'; } /* '' */
.icon-location-outline-1:before { content: '\e815'; } /* '' */
.icon-user-add-outline-1:before { content: '\e816'; } /* '' */
.icon-user-1:before { content: '\e817'; } /* '' */
.icon-down-open-1:before { content: '\e818'; } /* '' */
.icon-phone-outline-1:before { content: '\e819'; } /* '' */
.icon-plus-circled-1:before { content: '\e81a'; } /* '' */
.icon-pin-1:before { content: '\e81b'; } /* '' */
.icon-ok-circled-1:before { content: '\e81c'; } /* '' */
.icon-cancel-circled-1:before { content: '\e81d'; } /* '' */
.icon-left-open-1:before { content: '\e81e'; } /* '' */
.icon-floppy:before { content: '\e81f'; } /* '' */
.icon-box:before { content: '\e820'; } /* '' */
.icon-info-circled-1:before { content: '\e821'; } /* '' */
.icon-download-1:before { content: '\e822'; } /* '' */
.icon-help-circled-1:before { content: '\e823'; } /* '' */
.icon-attention-circled-2:before { content: '\e824'; } /* '' */
.icon-pencil-1:before { content: '\e825'; } /* '' */
.icon-cog-alt-1:before { content: '\e826'; } /* '' */
.icon-spin2-1:before { content: '\e827'; } /* '' */
.icon-spin3-1:before { content: '\e828'; } /* '' */
.icon-download-4:before { content: '\e829'; } /* '' */
.icon-menu-1:before { content: '\e82a'; } /* '' */
.icon-code-1:before { content: '\e82b'; } /* '' */
.icon-shield-1:before { content: '\e82c'; } /* '' */
.icon-ticket-1:before { content: '\e82d'; } /* '' */
.icon-youtube-play-1:before { content: '\e82e'; } /* '' */
.icon-file-pdf-1:before { content: '\e82f'; } /* '' */
.icon-file-excel-1:before { content: '\e830'; } /* '' */
.icon-search:before { content: '\e831'; } /* '' */
.icon-torso:before { content: '\e832'; } /* '' */
.icon-paper-plane-1:before { content: '\e833'; } /* '' */
.icon-paper-plane-empty-1:before { content: '\e834'; } /* '' */
.icon-trash-1:before { content: '\e835'; } /* '' */
.icon-shopping-bag-1:before { content: '\e836'; } /* '' */
.icon-address-book-1:before { content: '\e837'; } /* '' */
.icon-user-circle-o-1:before { content: '\e838'; } /* '' */
.icon-twitter-1:before { content: '\e839'; } /* '' */
.icon-facebook-squared-1:before { content: '\e83a'; } /* '' */
.icon-instagram-1:before { content: '\e83b'; } /* '' */
.icon-comment-1:before { content: '\e83c'; } /* '' */
.icon-attention-1:before { content: '\e83d'; } /* '' */
.icon-warning-empty:before { content: '\e83e'; } /* '' */
.icon-help-circled-2:before { content: '\e83f'; } /* '' */
.icon-key:before { content: '\e840'; } /* '' */
.icon-right-open:before { content: '\e841'; } /* '' */
.icon-home-outline:before { content: '\e842'; } /* '' */
.icon-mail:before { content: '\e843'; } /* '' */
.icon-truck:before { content: '\e844'; } /* '' */
.icon-calculator:before { content: '\e845'; } /* '' */
.icon-basket:before { content: '\e846'; } /* '' */
.icon-clipboard:before { content: '\e847'; } /* '' */
.icon-credit-card:before { content: '\e848'; } /* '' */
.icon-switch:before { content: '\e849'; } /* '' */
.icon-location-outline:before { content: '\e84a'; } /* '' */
.icon-user-add-outline:before { content: '\e84b'; } /* '' */
.icon-user:before { content: '\e84c'; } /* '' */
.icon-down-open:before { content: '\e84d'; } /* '' */
.icon-phone-outline:before { content: '\e84e'; } /* '' */
.icon-plus-circled:before { content: '\e84f'; } /* '' */
.icon-info-circled-2:before { content: '\e850'; } /* '' */
.icon-help-circled-3:before { content: '\e851'; } /* '' */
.icon-edit:before { content: '\e852'; } /* '' */
.icon-pin:before { content: '\e853'; } /* '' */
.icon-ok-circled:before { content: '\e854'; } /* '' */
.icon-cancel-circled:before { content: '\e855'; } /* '' */
.icon-left-open:before { content: '\e856'; } /* '' */
.icon-info-circled:before { content: '\e857'; } /* '' */
.icon-download-3:before { content: '\e858'; } /* '' */
.icon-help-circled:before { content: '\e859'; } /* '' */
.icon-attention-circled-1:before { content: '\e85a'; } /* '' */
.icon-pencil:before { content: '\e85b'; } /* '' */
.icon-cog-alt:before { content: '\e85c'; } /* '' */
.icon-spin2:before { content: '\e85d'; } /* '' */
.icon-spin3:before { content: '\e85e'; } /* '' */
.icon-block:before { content: '\e85f'; } /* '' */
.icon-bell:before { content: '\e860'; } /* '' */
.icon-money:before { content: '\e861'; } /* '' */
.icon-dollar:before { content: '\e862'; } /* '' */
.icon-bell-1:before { content: '\e863'; } /* '' */
.icon-cw:before { content: '\e864'; } /* '' */
.icon-download-2:before { content: '\f02e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-ticket:before { content: '\f145'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-address-book:before { content: '\f2b9'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */